body{
    text-align: center;
    background-color:rgb(224, 227, 185);
    font-family: cursive;
    user-select:none;
}
h1{
    font-size: 50px;;
}
h3{
font-size: 20px;;
}
div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#inp{
width: 200px;
padding-top:10px;
padding-bottom: 10px;
border-radius: 10px;
text-align: center;
border: 0;
margin-bottom: 12px;
font-family: cursive;
}
button{
    width:200px;
    padding-top:10px;
padding-bottom: 10px;
border-radius: 10px;
text-align: center;
border: 0;
background-color:rgb(255, 196, 0);
color: black;
font-family: cursive;

}
#act{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
ul li{
    font-size: 20px;
    background-color: #fffdf8;
    padding: 50px;
    border-radius: 8px;
    flex-grow: 1;
    text-align: center;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.2)
}
button:hover{
    background-color:rgb(255, 89, 0) ;
    cursor: pointer;
}
ul li:hover{
    background-color: #e7cc1d;
    cursor:pointer;
}